@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.negrito {
    font-weight: bold;
    font-size: 27px;
}

.cmnt {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "frase frase" "foto-cmnt nome-cmnt";
    grid-template-columns: 155px 337px;
    grid-template-rows: 323px 200px;
}

.cmnt p {
    margin-top: 150px;
}

.cmnt h4 {
    margin-left: 26px;
}

div.frase {
    grid-area: frase;
    background: url(/img/home/img-feedback.png);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

div.foto-cmnt {
    grid-area: foto-cmnt;
    background-color: #18191D;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px 0px 0px 26px;
}

div.nome-cmnt {
    grid-area: nome-cmnt;
    background-color: #18191D;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    border-radius: 0px 0px 26px 0px;
}